<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="http://localhost:3000"><%= image_tag "logo50.png" %>Money Pocket</a>
  

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <%= link_to '後台', users_transactions_path, class: 'btn btn-outline-dark' %>
  </div>

  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        <% if user_signed_in? %>
          <%= link_to current_user.email, edit_user_registration_path, class: 'nav-btn' %>
          <%= link_to "登出", destroy_user_session_path, method: 'delete', class: 'nav-btn' %>
        <% else %>
          <%= link_to "登入", new_user_session_path, class: 'nav-btn' %>
          <%= link_to "註冊", new_user_registration_path, class: 'nav-btn' %>
        <% end %>
      </div>
    </div>
  </div>  
</nav>