<div class="container d-flex justify-content-center">
  <div class="login-box">
    <h2 class="login-title">註冊</h2>
    
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
    <div class="col-12">
      <form class="login-form">
        <div class="form-group">
          <%= f.label :email, 'Email', class: ' col-form-label txt-w' %>
          <!-- <div class="col-sm-10"> -->
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "您的Email", class: 'form-control' %>
            <!-- </div> -->
        </div>
        
        <div class="form-group">
          <%= f.label :password, '密碼', class: 'col-form-label txt-w' %>
          <% if @minimum_password_length %>
          <small class="txt-w">(至少<%= @minimum_password_length %> 英數字元)</small>
          <% end %>
          <!-- <div class="col-sm-10"> -->
            <%= f.password_field :password, autocomplete: "new-password", placeholder: "您的密碼", class: 'form-control' %>
            <!-- </div> -->
        </div>
        
        <div class="form-group">
          <%= f.label :password_confirmation, '確認密碼', class: 'col-form-label txt-w' %>
          <!-- <div class="col-sm-10"> -->
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "請再次輸入您的密碼", class: 'form-control' %>
            <!-- </div> -->
        </div>
        
        <div class="actions">
          <!-- <div class="col-sm-10"> -->
          <%= f.submit "註冊", class: 'btn btn-block btn-primary' %>
          <!-- </div> -->
        </div>
      </form>
      <hr class="txt-w">
      <%= f.submit "登入", class: ' btn btn-block btn-blue1' %>
          <a href="/users/auth/github" class="btn btn-block btn-github"><i class="fab fa-github"></i> 使用GitHub登入</a>
          <a href="/users/auth/google_oauth2" class="btn btn-block btn-google"><i class="fab fa-google"></i> 使用Google登入</a>
      <% end %>
    </div>
  </div>
</div>