<!-- <section class="dashboard"> -->
  <div class="container">
    <h1 class="new-title"><i class="fas fa-user-circle"></i> 個人頁面總覽</h1>
    
    
  </div>
  <div class="container">
  <div class="row">
    <div class="col-1">
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action btn-blue1">
          對獎
        </a>
        <a href="#" class="list-group-item list-group-item-action">記帳</a>
      </div>
    </div>
    <div class="col-11">
      <div class="d-flex">
        <div class="spend col-3">支出</div>
        <div class="income col-3">收入</div>
        <div class="chart col-5">圖表
          <div id="chartdiv">
            
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <%= link_to '新增', new_user_transaction_path, class: 'btn btn-outline-secondary' %>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">消費時間</th>
              <th scope="col">發票號碼</th>
              <th scope="col">品項名稱</th>
              <th scope="col">品項數量</th>
              <th scope="col">品項單價</th>
              <th scope="col">品項總價</th>
              <th scope="col">發票總價</th>
              <th scope="col">對獎狀態</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <% @transactions.each do |transaction| %>
              <tr>
                <td><%= transaction.created_at %></td> 
                <td><%= transaction.invoice_num %></td>
                <% transaction.transaction_items.each do |item| %>
                  <td><%= item.title %></td>
                  <td><%= item.quantity %></td>
                  <td><%= item.price %></td>
                  <td><%= item.total %></td>
                <% end %>
                <td><%= transaction.amount %></td>
                <td><%= transaction.status %></td>
                <td>
                  <%= link_to edit_user_transaction_path(transaction), class: 'btn btn-outline-success' do %>
                  <i class="fas fa-edit"></i>
                  編輯
                  <% end %>
                  <%= link_to user_transaction_path(transaction), method: 'delete', data: {confirm: '你確定嗎???'}, class: 'btn btn-outline-danger' do %>
                  <i class="fas fa-trash-alt"></i>
                  刪除
                  <% end %>
                </td>
              <% end %>
            </tr>
          </tbody>
        </table>
    </div>
    </div>
  </div>
  </div>
<!-- </section> -->