<div class="container d-flex justify-content-center">
  <div class="login-box">
    <h2 class="login-title">登入</h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="col-12">
          <div class="form-group">
            <%= f.label :email, 'Email', class: ' col-form-label', class: 'txt-w' %>
            <%= f.email_field :email, placeholder: "您的Email", autofocus: true, autocomplete: "email", class: 'form-control' %>
          </div>
           
          <div class="form-group">
            <%= f.label :password, '密碼', class: ' col-form-label txt-w' %>
            <%= f.password_field :password, autocomplete: "current-password", placeholder: "您的密碼", class: 'form-control' %>
          </div>
           
          <% if devise_mapping.rememberable? %>
            <div class="form-group d-flex justify-content-between">
              <div class="checkbox">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me, '記住我', class: 'txt-w' %></div>
              <small><a href="/users/password/new" class="forget">忘記密碼?</a></small>
            </div>
          <% end %>
           
          <div class="actions">
            <%= f.submit "登入", class: ' btn btn-block btn-blue1' %>
            <a href="/users/auth/github" class="btn btn-block btn-github"><i class="fab fa-github"></i> 使用GitHub登入</a>
            <a href="/users/auth/google_oauth2" class="btn btn-blockbtn-google"><i class="fab fa-google"></i> 使用Google登入</a>
          <% end %>
        <!-- <div class="btns"> -->
        <hr>
          <div class="txt-w">
          第一次使用Money Pocket？這邊 
          <a href="/users/sign_up" class="registration">註冊</a>
          </div>
        </div>
        </div>
      </div>
  </div>
</div>

