
<h1>手動對獎器</h1>

<div class="check">
  <div class="check-item">
    <label for = "inv_input" >發票末三碼： </label>
    <input type="text" id="inv_input" placeholder = "請輸入發票號碼" maxlength="3" oninput = "value=value.replace(/[^\d]/g,'')">
    <input type="button" value="送出" id="submit">
    <div class="messege" id="messege"></div>
    <div class="jsonb">
      <div class="messege_price">
        <select name="" id="">
          <optgroup>
            <option value=""><%= @checks["invoYm"]%></option>
            <option value=""><%= @checks["invoYm"]%></option>
          </optgroup>
        </select>
        <div class="messege_prize">千萬特獎 : <%= @checks["superPrizeNo"]%></div>
        <div class="messege_prize">特獎 : <%= @checks["spcPrizeNo"]%></div>
        <div class="messege_prize">頭獎 : <%= @checks["firstPrizeNo1"]%></div>
        <div class="messege_prize">頭獎 : <%= @checks["firstPrizeNo2"]%></div>
        <div class="messege_prize">頭獎 : <%= @checks["firstPrizeNo3"]%></div>
        <div class="messege_prize">六獎 : <%= @checks["sixthPrizeNo1"]%></div>
        <div class="messege_prize">六獎 : <%= @checks["sixthPrizeNo2"]%></div>
      </div>
    </div>
  </div>
</div>
<%= link_to "返回首頁",transactions_path%>