
<h1>手動對獎器</h1>

<div class="check">
  <div class="check-item">
    <label for = "invot" >發票末三碼： </label>
    <input type="text" id="invot" placeholder = "請輸入發票號碼">
    <input type="button" value="送出" id="submit">
    <div class="messege"></div>
    <div class="jsonb">
      <div class="prize">
        <div>千萬特獎 : <%= @checks["superPrizeNo"]%></div>
        <div>特獎 : <%= @checks["spcPrizeNo"]%></div>
        <div>頭獎 : <%= @checks["firstPrizeNo1"]%></div>
        <div>頭獎 : <%= @checks["firstPrizeNo2"]%></div>
        <div>頭獎 : <%= @checks["firstPrizeNo3"]%></div>
        <div>六獎 : <%= @checks["sixthPrizeNo1"]%></div>
        <div>六獎 : <%= @checks["sixthPrizeNo2"]%></div>
      </div>
    </div>
  </div>
</div>
<%= link_to "返回首頁",transactions_path%>