<% if @transaction.errors.any? %>
  <% @transaction.errors.full_messages.each do |message| %>
    <%= message %><i class="far fa-times-circle"></i>
  <% end %>
<% end %>

<%= form_with model: [:users, @transaction], local: true do |invoice| %>
  <div class="row">
    <div class="col-4">
      <%= invoice_photo_tag transaction %>
      <div class="form-group col-md-6">
        <%= invoice.label :invoice_photo, '發票截圖' %>
        <%= invoice.file_field :invoice_photo, class: 'form-control-file' %>
      </div>
    </div>

    <div class="col-8">
      <div class="form-row">
        <div class="form-group">
          <%= invoice.label :invoice_num, '發票號碼' %>
          <%= invoice.text_field :invoice_num, class: 'form-control' %>
        </div>

      </div>
    </div>

    <div>
      <%= invoice.fields_for :transaction_items do |item| %>
        <%= render 'transaction_items_fields', invoice: item %>
      <% end %>
      <div id="add-item-btn">
        <%= link_to_add_association 'add item', invoice, :transaction_items, partial: 'users/transactions/transaction_items_fields', form_name: 'invoice' %>
      </div>
    </div>
    <div class="form-group">
      <%= invoice.label :amount, '發票總價' %>
      <%= invoice.text_field :amount, class: 'form-control' %>
    </div>

    <div class="d-flex justify-content-end">
      <%= invoice.submit '儲存', class: 'btn btn-blue1' %>
    </div>
  </div>
<% end %>