<% if @transaction.errors.any? %>
  <div>
    <button></button>
    <ul>
      <% @transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: [:users, @transaction], local: true do |invoice| %>
  <div>
    <%= invoice_photo_tag transaction %>
    <%= invoice.label :invoice_photo, '發票截圖' %>
    <%= invoice.file_field :invoice_photo %>
  </div>
  <div>
    <%= invoice.label :invoice_num, '發票號碼' %>
    <%= invoice.text_field :invoice_num %>
  </div>
  <div class="form-row">
    <label>發票內容:</label>
    <%= invoice.fields_for :transaction_items do |item| %>
      <%= render 'transaction_items_fields', invoice: item %>
    <% end %>
    <div id="add-item-btn">
      <%= link_to_add_association 'add item', invoice, :transaction_items, partial: 'users/transactions/transaction_items_fields', form_name: 'invoice' %>
    </div>
  </div>
  <div>
    <%= invoice.label :amount, '發票總價' %>
    <%= invoice.text_field :amount %>
  </div>
  <div>
    <%= invoice.label :status, '對獎狀態' %>
    <%= invoice.text_field :status %>
  </div>
  <div>
    <%= invoice.submit '儲存', class: 'btn btn-primary' %>
  </div>
<% end %>




