<% if @transaction.errors.any? %>
  <% @transaction.errors.full_messages.each do |message| %>
    <%= message %><i class="far fa-times-circle"></i>
  <% end %>
<% end %>

<%# 這邊用 transaction 會比 @transaction 好%>
<%= form_with model: [:users, @transaction], local: true do |invoice| %>
  <div class="row">
    <div class="col-12 col-md-4">
      <div class="form-group">
        <%= invoice.label :invoice_num, '發票號碼' %>
        <%= invoice.text_field :invoice_num, class: 'form-control' %>
      </div>
    </div>

    <div class="col-12 col-md-4">
      <div class="form-group">
        <%= invoice.label :invoice_date, '發票日期' %>
        <%= invoice.date_field :invoice_date, class: 'form-control' %>
      </div>
    </div>

    <div class="col-12 col-md-4">
      <div class="form-group">
        <%= invoice.label :amount, '發票總價' %>
        <%= invoice.text_field :amount, class: 'form-control' %>
      </div>
    </div>
  </div>

  <%= invoice.fields_for :transaction_items do |item| %>
    <%= render 'transaction_items_fields', invoice: item %>
  <% end %>
  <div id="add-item-btn" class="d-flex justify-content-end">
    <%= link_to_add_association '+', invoice, :transaction_items, partial: 'users/transactions/transaction_items_fields', form_name: 'invoice', class: 'btn btn-add btn-dark' %>
  </div>

  <div class="row">
    <%= invoice.submit '儲存發票明細', class: 'btn btn-block btn-blue1 btn-save' %>
  </div>
<% end %>
