        <div id="vue-app" class="d-flex">
          <table class="table col">
            <thead class="thead-dark">
              <tr>
                <th scope="col">消費時間</th>
                <th scope="col">發票號碼</th>
                <th scope="col" width="20%">發票總價</th>
                <th scope="col" width="10%">發票日期</th>
                <th scope="col" colspan="2">對獎狀態</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @transactions.each do |transaction| %>
              <tr>
                <td><%= transaction.created_at %></td>
                <td><%= transaction.invoice_num %></td>
                <td><%= transaction.amount.to_i %></td>
                <td><%= transaction.invoice_date %></td>
                <td><%= t("enum.transaction.status.#{transaction.status}") %></td>
                <td>
                  <%= link_to edit_users_transaction_path(transaction), class: 'btn btn-outline-success' do %>
                  <i class="fas fa-edit"></i>編輯
                  <% end %>
                  <%= link_to users_transaction_path(transaction), method: 'delete', data: {confirm: '你確定嗎???'}, class: 'btn btn-outline-danger' do %>
                  <i class="fas fa-trash-alt"></i>刪除
                  <% end %>
                  <button @click="expand('<%= transaction.id %>')" class="btn btn-outline-secondary">MORE</button>
                </td>
                <% end %>
                <% if @transactions.blank? %>
              <tr>
                <td colspan="10">找不到任何帳目</td>
              </tr>
              <% end %>
              </tr>
            </tbody>
          </table>
          <div class="col flex-column" style="display: none" :style="{display: itemShow ? 'flex' : 'none'}">
            <% @transactions.each do |transaction| %>
            <table v-show="itemShow && itemId === '<%= transaction.id %>'" class="table">
              <thead class="table-primary">
                <tr>
                  <th scope="col">品項名稱</th>
                  <th scope="col">品項分類</th>
                  <th scope="col">品項數量</th>
                  <th scope="col">品項單價</th>
                  <th scope="col">品項總價</th>
                </tr>
              </thead>
              <tbody>
                <% transaction.transaction_items.each do |item| %>
                <tr>
                  <td><%= item.title %></td>
                  <td>食衣住行</td>
                  <td><%= item.quantity %></td>
                  <td><%= item.price.to_i %></td>
                  <td><%= item.total.to_i %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
            <% end %>
          </div>
        </div>