<section class="login">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5 input-box">
        <form class="input-group mb-3" action="/users/sign_up" method="get">
          <input type="text" name="email" class="form-control blue-box" placeholder="請輸入您的email" aria-label="Recipient's username" aria-describedby="button-addon2">
          <div class="input-group-append">
            <button class="btn btn-blue1" type="submit" id="button-addon2">立即註冊</button>
          </div>
        </form>
      </div>
      <div class="col-12 col-md-6 cover">
        <h1 class="slogan">Money Pocket聰明記帳</h1>
        <p>快速掃描電子發票，同時記錄支出，統一發票對獎加上記帳功能，一次解決兩樣瑣碎的事務，省下更多時間去做更重要的事！</p>
          <%= image_tag ("finance400.png"), class: 'pic' %>
      </div>
    </div>
  </div>
</section>

<section class="intro">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <%= image_tag ("Savings.png"), class: 'pic' %>
      </div>

      <div class="prize col-12 col-md-6">
        <div class="card mb-3">
          <div class="card-body">
            <h3 class="card-title">還在手動對獎嗎？</h3>
            <p class="">
              <div class="">
                <p class="card-text">使用下方工具更快速的完成對獎。</p>
              </div>
              <div class="prize-item">
                <%= form_tag prizes_transactions_path, method: 'post', remote:true do %>
                  <div class="input-group">
                    <%= label_tag :inv_input, ' ' %>
<<<<<<< Updated upstream
                    <%= number_field_tag :inv_input,"", maxlength: 3, placeholder: '請輸入發票末三碼', class: 'invoice-input' %>
=======
                    <%= text_field_tag :inv_input,"",maxlength: 3, placeholder: '請輸入發票末三碼', class: 'invoice-input' %>
>>>>>>> Stashed changes
                    <%= hidden_field_tag :optioned, :value => "" %>
                    <%= submit_tag "送出", id: "submit" ,class: "btn btn-sm btn-blue2 input-group-append-prize" %></div>
                <% end %>
              </div>
              <div class="space">
                <p class="card-text">
                  還是覺得麻煩？<br>
                  那就立即註冊Money Pocket，<br>
                  完成一鍵對獎的夢想！</p>
              </div>
            </p>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>

<section class="feature">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="feature-item">
          <div class="icon">
            <i class="fas fa-qrcode"></i>
          </div>
          <h2 class="feature-txt">發票QRcode解析</h2>
          <div class="summary">
          <p>手機掃描電子發票，自動將消費內容轉換成清楚的消費明細</p>
        </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="feature-item">
          <div class="icon">
            <i class="fas fa-check-double"></i>
          </div>
          <h2 class="feature-txt">對獎、記帳一次滿足</h2>
          <div class="summary">
            <p>記錄下統一發票號碼，同時，也完成了繁瑣的記帳</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="feature-item">
          <div class="icon">
            <i class="fab fa-buromobelexperte"></i>
          </div>
          <h2 class="feature-txt">成就紀錄，記越多越有感</h2>
          <div class="summary">
            <p>看著自己的成就紀錄，忍不住期待下一張發票的出現</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="action">
  <div class="container">
    <div class="col-12 d-flex justify-content-center">
      <div class="title">
        <h2 class="info">現在就開始體驗吧！Keep your money well!</h2>
        <form class="input-group mb-3" action="/users/sign_up" method="get">
          <input type="text" name="email" class="form-control blue-box" placeholder="請輸入您的email" aria-label="Recipient's username" aria-describedby="button-addon2">
          <div class="input-group-append">
            <button class="btn btn-blue1" type="submit" id="button-addon2">立即註冊</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>


<section class="footer">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-10 col-md-11">Copyright © 2020. Theme by Money Pocket</div>
        <div class="col-2 col-md-1">
          <div class="social-icon">
          <ul>
            <li><a href="https://github.com/weareqrcode/MoneyPocket" class="fab fa-github"></a></li>
          </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>