<%= @string.nil? ? "var string = String.new" : "var string = #{@string}" %>

if (<%= @status %> && !<%= @three_code %>) {
    Swal.fire(`<div class="prizes">中獎：<%= @prize %> <%= @front %><span class="text-danger"><%= @back %><span>
    </div>`)
} else if (!<%= @status %> && <%= @three_code %>) {
    let input_val = document.querySelector("#inv_input").value
    if (string.length === 3) {
      Swal.fire(`<div class="prizes"> 中獎 ${input_val}</div>`)
    } else {
      Swal.fire(`<div class="prizes">繼續對對看 
              <%= @front5 %><span class="text-danger"><%= @back3 %> <span>
            </div>`)
    }
} else {
  Swal.fire(`<div><span class="text-danger text-center">未中獎</span></div>`)
}
document.querySelector('#inv_input').value = ""
document.querySelector('#inv_form').reset()
document.querySelector('#inv_full_number').value = ""