message = document.querySelector("#message");

while (message.firstChild) {
  message.removeChild(message.firstChild);
}
var three_code = <%= @three_code %>;
var string = "<%= @string %>";

if (three_code === true) {
  let input_val = document.querySelector("#inv_input").value;
  if (string.length == 3) {
    Swal.fire(`<div class="prizes"> 中獎 ${input_val}</div>`)
  } else {
    Swal.fire(`<div class="prizes">繼續對對看 
                <%= @front5 %><span class="text-danger"><%= @back3 %> <span>
              </div>`)
  }
} else if (three_code && <%= @status %>){
  message.insertAdjacentHTML("beforeend", `<div class="prizes"> 未中獎 </div>`);
}

if (<%= @status %>) {
    message.insertAdjacentHTML(
      "beforeend",
      `<div class="prizes">中獎：<%= @prize %> <%= @front %><span class="text-danger"><%= @back %><span>
      </div>`
    )
} else {
    message.insertAdjacentHTML("beforeend", `<div class="prizes"> 未中獎 </div>`);
}

document.querySelector("#inv_input").value = ""
document.querySelector('#inv_full_number').value = ""