<!DOCTYPE html>
<html>
  <head>
    <title>MoneyPocket</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'vue_application', 'data-turbolinks-track': 'reload' %>
    <%= yield :charts_js %>
  </head>

  <body>
    <%= render 'shared/backend/navbar' %>
    <%= render 'shared/flash' if notice %>
    <%= yield %>
  </body>
</html>
