<!DOCTYPE html>
<html>
  <head>
    <title>Qrcode</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"> -->
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>
    <%= render 'shared/backend/navbar' %>
    <%= render 'shared/flash' if notice %>
    <%= yield %>
  </body>
</html>
