<!DOCTYPE html>
<html>
  <head>
    <title>後台</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= yield :scripts %>
  </head>

  <body>
    <%= render 'shared/backend/navbar' %>
    <%= render 'shared/flash' if notice %>
    <%= yield %>
  </body>
</html>
